<connectionStrings>
  <!--Временно отключаю не закрытие сессий. Ищем где валится и будем чинить-->
  <add name="DEV" connectionString="Data Source=10.0.0.36/orawmsdev;User ID=DEV_MP_WT;Password=12;POOL REGULATOR=60;" providerName="Oracle.DataAccess.Client"/>
  <add name="TST" connectionString="Data Source=10.0.0.68/orawmstst;User ID=DEV_MP_WT;Password=12;POOL REGULATOR=60;" providerName="Oracle.DataAccess.Client"/>
  <add name="TST1" connectionString="Data Source=10.0.0.223/wmstst1;User ID=DEV_MP_WT;Password=12;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>