<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wmsMLC.RCL.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.RCL.General.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.RCL.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.Service.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="modules" type="wmsMLC.General.Modules.ModulesConfigurationSection, wmsMLC.General" />
  </configSections>
  <modules>
    <module assemblyFile="Modules/wmsMLC.RCL.Main.dll" moduleType="wmsMLC.RCL.Main.Module, wmsMLC.RCL.Main, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module" />
    <module assemblyFile="Modules/wmsMLC.RCL.Content.dll" moduleType="wmsMLC.RCL.Content.ContentModule, wmsMLC.RCL.Content, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContentModule" />
  </modules>
  <appSettings>
    <add key="NotUseActivityStackTrace" value="False"/>
    <add key="UseWorkflowPersistAndLog" value="False"/>
    <add key="WebclientUrl" value="http://mp-app-t1-nwms:83/wms/" />
  </appSettings>
  <applicationSettings>
    <wmsMLC.RCL.Client.Properties.Settings>
      <setting name="ModulePath" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>ru-RU</value>
      </setting>
      <setting name="UpdateInfoFile" serializeAs="String">
        <value>\\10.0.0.19\DEV\DCL\UpdateInfo.xml</value>
      </setting>
    </wmsMLC.RCL.Client.Properties.Settings>

    <wmsMLC.RCL.Main.Properties.Settings>
      <setting name="HelpServiceMail" serializeAs="String">
        <value>IM-test@my.ru</value>
      </setting>
      <setting name="AskUserIdentification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServiceId" serializeAs="String">
        <value>RCL</value>
      </setting>
      <setting name="SessionId" serializeAs="String">
        <value>Auto</value>
      </setting>
      <!-- <setting name="SDCL_Endpoint" serializeAs="String">
        <value>net.tcp://localhost:8035/wmsSDCLService</value>
      </setting>-->
      <setting name="ClientType" serializeAs="String">
        <value>RCL</value>
      </setting>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisLight</value>
        <!--<value>TouchlineDark</value>-->
      </setting>
      <setting name="NotUseActivityStackTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWorkflowPersistAndLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReturnedScannerKey" serializeAs="String">
        <value>Enter</value>
      </setting>
      <setting name="NextControlKey" serializeAs="String">
        <value>Enter</value>
      </setting>
      <setting name="IsTestMenuVisible" serializeAs="String">
        <value>False</value>
      </setting>
    </wmsMLC.RCL.Main.Properties.Settings>

    <wmsMLC.General.DAL.Service.Properties.Settings>
      <setting name="DefaultTimeOutInMS" serializeAs="String">
        <value>60000</value>
      </setting>
    </wmsMLC.General.DAL.Service.Properties.Settings>

    <wmsMLC.General.Service.Client.Properties.Settings>
      <setting name="SendTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="ReceiveTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="RetryPolicyCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RetryPolicyTime" serializeAs="String">
        <value>1</value>
      </setting>
    </wmsMLC.General.Service.Client.Properties.Settings>

    <wmsMLC.General.DAL.WebAPI.Properties.Settings>
      <setting name="APIEndPoint" serializeAs="String">
        <value>http://mp-app-t1-nwms:83/wmsWebAPI/v1/</value>
      </setting>
      <setting name="RequestTimeOutInSeconds" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RequestRetryCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RequestRetryIntervalInSeconds" serializeAs="String">
        <value>5</value>
      </setting>
    </wmsMLC.General.DAL.WebAPI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="General;Modules;External;Activities"/>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" closeTimeout="00:00:05" openTimeout="00:00:05"
          receiveTimeout="02:00:00" sendTimeout="02:00:00" transactionProtocol="OleTransactions"
          listenBacklog="2147483647" maxBufferPoolSize="0" maxBufferSize="2147483647"
          maxConnections="100" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="false" inactivityTimeout="00:01:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>