<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wmsMLC.General.ServiceTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <wmsMLC.General.ServiceTemplate.Properties.Settings>
      <setting name="DefaultPingTimeInMS" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ReceiveTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="SendTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="MaxBufferPoolSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="MaxBufferSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="MaxConnections" serializeAs="String">
        <value>4999999</value>
      </setting>
      <setting name="MaxReceivedMessageSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="PortSharingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransactionFlow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListenBacklog" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxArrayLength" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxBytesPerRead" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxDepth" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxNameTableCharCount" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxStringContentLength" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ChannelTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
    </wmsMLC.General.ServiceTemplate.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>