<?xml version="1.0" encoding="utf-8"?>
<!-- Конфигруационный файл wmsMLC.General.wmsLogClient -->
<configuration>
    <!-- Описание типов привязок и хостинга -->
    <system.serviceModel>
        <!-- Описание настройки каждой привязки -->
        <bindings/>
        <!-- Описание конечных точек, используемых клиентом для подключения к службе -->
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
