<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wmsMLC.RCL.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <wmsMLC.RCL.Main.Properties.Settings>
            <setting name="HelpServiceMail" serializeAs="String">
                <value>mail not set</value>
            </setting>
            <setting name="AskUserIdentification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceId" serializeAs="String">
                <value>RCL</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="ClientType" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value />
            </setting>
            <setting name="SDCL_Endpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="ReturnedScannerKey" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="NextControlKey" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="IsTestMenuVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </wmsMLC.RCL.Main.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
