<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wmsMLC.General.DAL.Oracle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <oracle.dataaccess.client>
    <settings>
      <add name="DbNotificationPort" value="-1"/>
      <add name="DynamicEnlistment" value="0"/>
      <add name="FetchSize" value="8388608"/>
      <add name="UdtCacheSize" value="4194303"/>
      <add name="PerformanceCounters" value="0"/>
      <add name="PromotableTransaction" value="promotable"/>
      <add name="StatementCacheSize" value="100"/>
      <add name="TraceFileName" value=".\odpnet1.log"/>
      <add name="TraceLevel" value="0"/>
      <add name="TraceOption" value="0"/>
      <add name="TLISTXML" value="udtMapping factoryName='wmsMLC.General.DAL.Oracle.TLISTXMLFactory, wmsMLC.General.DAL.Oracle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='TLISTXML' schemaName='DEV_MP_WT'"/>
    </settings>
  </oracle.dataaccess.client>
  <applicationSettings>    
    <wmsMLC.General.DAL.Oracle.Properties.Settings>
      <setting name="InitialLOBFetchSize" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </wmsMLC.General.DAL.Oracle.Properties.Settings>
  </applicationSettings>
</configuration>