<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wmsMLC.DCL.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.DCL.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.DCL.General.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.DCL.Content.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.Business.JabberManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.Services.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="modules" type="wmsMLC.General.Modules.ModulesConfigurationSection, wmsMLC.General" />
  </configSections>

  <modules>
    <module assemblyFile="Modules/wmsMLC.DCL.Chat.dll" moduleType="wmsMLC.DCL.Chat.ChatModule, wmsMLC.DCL.Chat, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ChatModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.Main.dll" moduleType="wmsMLC.DCL.Main.Module, wmsMLC.DCL.Main, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module" />
    <module assemblyFile="Modules/wmsMLC.DCL.Content.dll" moduleType="wmsMLC.DCL.Content.ContentModule, wmsMLC.DCL.Content, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContentModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.Topology.dll" moduleType="wmsMLC.DCL.Topology.TopologyModule, wmsMLC.DCL.Topology, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TopologyModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.WorkflowDesigner.dll" moduleType="wmsMLC.DCL.WorkflowDesigner.WorkflowDesignerModule, wmsMLC.DCL.WorkflowDesigner, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WorkflowDesignerModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.Packing.dll" moduleType="wmsMLC.DCL.Packing.PackingModule, wmsMLC.DCL.Packing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PackingModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.Configurator.dll" moduleType="wmsMLC.DCL.Configurator.ConfiguratorModule, wmsMLC.DCL.Configurator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConfiguratorModule" />
    <module assemblyFile="Modules/wmsMLC.DCL.Browser.dll" moduleType="wmsMLC.DCL.Browser.BrowserModule, wmsMLC.DCL.Browser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BrowserModule" />
    <!--<module assemblyFile="Modules/wmsMLC.DCL.ResourceManagement.dll" moduleType="wmsMLC.DCL.ResourceManagement.ResourceManagementModule, wmsMLC.DCL.ResourceManagement, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ResourceManagement" />-->
  </modules>

  <appSettings>
    <add key="NotUseActivityStackTrace" value="False"/>
    <add key="UseWorkflowPersistAndLog" value="False"/>
    <add key="WebclientUrl" value="http://mp-app-test-nwms:83/wms/" />
  </appSettings>

  <applicationSettings>
    <wmsMLC.DCL.Client.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>ru-RU</value>
      </setting>
      <setting name="UpdateInfoFile" serializeAs="String">
        <value>\\mp-app-test-nwms\TST1\DCL\UpdateInfo.xml</value>
      </setting>
    </wmsMLC.DCL.Client.Properties.Settings>

    <wmsMLC.DCL.Main.Properties.Settings>
      <setting name="HelpServiceMail" serializeAs="String">
        <value>IM-test@my.ru</value>
      </setting>
      <setting name="SessionId" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="ClientType" serializeAs="String">
        <value>DCL</value>
      </setting>
      <setting name="DefaultPingTimeInMS" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="GoodPingInMS" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HelpFileName" serializeAs="String">
        <value>wmsMLC.DCL.Client.chm</value>
      </setting>
    </wmsMLC.DCL.Main.Properties.Settings>

    <wmsMLC.DCL.General.Properties.Settings>
      <setting name="MaxRowCountDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>\\mp-eps-test-nwms\TST1\Share\RPT</value>
      </setting>
      <setting name="WaitingTimePreview" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="NotUseActivityStackTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWorkflowPersistAndLog" serializeAs="String">
        <value>False</value>
      </setting>
    </wmsMLC.DCL.General.Properties.Settings>
    <wmsMLC.General.Services.Client.Properties.Settings>
      <setting name="RetryPolicyCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RetryPolicyTime" serializeAs="String">
        <value>1</value>
      </setting>
    </wmsMLC.General.Services.Client.Properties.Settings>

    <wmsMLC.General.DAL.Service.Properties.Settings>
      <setting name="DefaultTimeOutInMS" serializeAs="String">
        <value>60000</value>
      </setting>
    </wmsMLC.General.DAL.Service.Properties.Settings>

    <wmsMLC.General.DAL.WebAPI.Properties.Settings>
      <setting name="APIEndPoint" serializeAs="String">
        <value>http://mp-app-test-nwms/wmsWebAPI/v1/</value>
      </setting>
      <setting name="RequestTimeOutInSeconds" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RequestRetryCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RequestRetryIntervalInSeconds" serializeAs="String">
        <value>5</value>
      </setting>
    </wmsMLC.General.DAL.WebAPI.Properties.Settings>

    <wmsMLC.DCL.Content.Properties.Settings>
      <setting name="WclUrl" serializeAs="String">
        <value>http://mp-eps-test-nwms/wmswebapp</value>
      </setting>
    </wmsMLC.DCL.Content.Properties.Settings>
    <wmsMLC.Business.JabberManager.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>my.ru</value>
      </setting>
      <setting name="NetworkHost" serializeAs="String">
        <value>10.0.0.91</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>5222</value>
      </setting>
      <setting name="Resource" serializeAs="String">
        <value>DCL</value>
      </setting>
      <setting name="AutoTLS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPresence" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRoster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoReconnect" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UntrustedCA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CertificateFile" serializeAs="String">
        <value />
      </setting>
      <setting name="CertificatePass" serializeAs="String">
        <value />
      </setting>
      <setting name="BoshURL" serializeAs="String">
        <value />
      </setting>
    </wmsMLC.Business.JabberManager.Properties.Settings>
  </applicationSettings>

  <runtime>
    <loadFromRemoteSources enabled="true" />
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="General;Modules;External;Activities" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="02:00:00" sendTimeout="02:00:00" transactionProtocol="OleTransactions" listenBacklog="2147483647" maxBufferPoolSize="0" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="false" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
