<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wmsMLC.General.Service.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <wmsMLC.General.Service.Client.Properties.Settings>
      <setting name="SendTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="ReceiveTimeoutInMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="RetryPolicyCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RetryPolicyTime" serializeAs="String">
        <value>1</value>
      </setting>
    </wmsMLC.General.Service.Client.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="02:00:00" sendTimeout="02:00:00" transactionProtocol="OleTransactions"
          listenBacklog="2147483647" maxBufferPoolSize="0" maxBufferSize="2147483647"
          maxConnections="4999999" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="false" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>