<oracle.dataaccess.client>
  <settings>
    <add name="DbNotificationPort" value="-1"/>
    <add name="DynamicEnlistment" value="0"/>
    <add name="FetchSize" value="33554432"/>
    <add name="UdtCacheSize" value="4194303"/>
    <add name="StatementCacheWithUdts" value="0"/>
    <add name="PerformanceCounters" value="4095"/>
    <add name="PromotableTransaction" value="promotable"/>
    <add name="StatementCacheSize" value="100"/>
    <add name="TraceFileName" value=".\odpnet1.log"/>
    <add name="TraceLevel" value="0"/>
    <add name="TraceOption" value="0"/>
    <add name="TLISTXML" value="udtMapping factoryName='wmsMLC.General.DAL.Oracle.TLISTXMLFactory, wmsMLC.General.DAL.Oracle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='TLISTXML' schemaName='DEV_MP_WT'"/>
    <add name="TLISTINT" value="udtMapping factoryName='wmsMLC.General.DAL.Oracle.TLISTINTFactory, wmsMLC.General.DAL.Oracle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='TLISTINT' schemaName='DEV_MP_WT'"/>
    <add name="TLISTSTRINGS" value="udtMapping factoryName='wmsMLC.General.DAL.Oracle.TLISTSTRINGSFactory, wmsMLC.General.DAL.Oracle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='TLISTSTRINGS' schemaName='DEV_MP_WT'"/>
  </settings>
</oracle.dataaccess.client>