<wmsMLC.General.Service.Client.Properties.Settings>
  <setting name="SendTimeoutInMS" serializeAs="String">
    <value>30000</value>
  </setting>
  <setting name="ReceiveTimeoutInMS" serializeAs="String">
    <value>30000</value>
  </setting>
  <setting name="MaxBufferPoolSize" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="MaxBufferSize" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="MaxConnections" serializeAs="String">
    <value>100</value>
  </setting>
  <setting name="MaxReceivedMessageSize" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="PortSharingEnabled" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="TransactionFlow" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="ListenBacklog" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="ReaderQuotas_MaxArrayLength" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="ReaderQuotas_MaxBytesPerRead" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="ReaderQuotas_MaxDepth" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="ReaderQuotas_MaxNameTableCharCount" serializeAs="String">
    <value>2147483647</value>
  </setting>
  <setting name="ReaderQuotas_MaxStringContentLength" serializeAs="String">
    <value>2147483647</value>
  </setting>
</wmsMLC.General.Service.Client.Properties.Settings>