<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wmsMLC.WebAndLoadTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.Service.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.General.DAL.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="WebclientUrl" value="http://mp-app-t1-nwms:83/wms/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <ThrowUnobservedTaskExceptions enabled="true" />
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="General;Modules;External;Activities" />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <wmsMLC.WebAndLoadTest.Properties.Settings>
      <!--<setting name="SDCL_Endpoint" serializeAs="String">
        <value>net.tcp://localhost:8035/wmsSDCLService</value>
      </setting>-->
    </wmsMLC.WebAndLoadTest.Properties.Settings>
    <wmsMLC.General.Service.Client.Properties.Settings>
      <setting name="SendTimeoutInMS" serializeAs="String">
        <value>600000</value>
      </setting>
      <setting name="ReceiveTimeoutInMS" serializeAs="String">
        <value>180000</value>
      </setting>
      <setting name="MaxBufferPoolSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="MaxBufferSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="MaxConnections" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxReceivedMessageSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="PortSharingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransactionFlow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListenBacklog" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxArrayLength" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxBytesPerRead" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxDepth" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxNameTableCharCount" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="ReaderQuotas_MaxStringContentLength" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="wmsAPI_URL" serializeAs="String">
        <value>http://10.0.0.47:8778</value>
      </setting>
      <setting name="wmsAPI_SDCLInfo_RequestURL" serializeAs="String">
        <value>/wmsapiservice/rest/bp/GetSdclConnectInfo</value>
      </setting>
    </wmsMLC.General.Service.Client.Properties.Settings>
    <wmsMLC.General.DAL.Service.Properties.Settings>
      <setting name="DefaultTimeOutInMS" serializeAs="String">
        <value>180000</value>
      </setting>
    </wmsMLC.General.DAL.Service.Properties.Settings>
    <wmsMLC.General.DAL.WebAPI.Properties.Settings>
      <setting name="APIEndPoint" serializeAs="String">
        <value>http://mp-app-t1-nwms:83/wmsWebAPI/v1/</value>
      </setting>
      <setting name="RequestTimeOutInSeconds" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RequestRetryCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RequestRetryIntervalInSeconds" serializeAs="String">
        <value>5</value>
      </setting>
    </wmsMLC.General.DAL.WebAPI.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="FileAppender" type="wmsMLC.General.SortByFolderFileAppender">
      <file type="log4net.Util.PatternString" value="%appdomain.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ssK} %username [%thread] %-5level [%method] %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ssK} [%thread] %-5level [%method] %message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionProtocol="OleTransactions" listenBacklog="2147483647" maxBufferPoolSize="0" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="false" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>