<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wmsMLC.Tests.Functional.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="wmsMLC.EPS.wmsEPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    
  <connectionStrings>
    <add name="test1" connectionString="Data Source=10.0.0.36/orawmsdev;User ID=DEV_MP_WT;Password=12;METADATA POOLING=False;POOL REGULATOR=86400;" providerName="Oracle.DataAccess.Client" />
    <add name="wmsMLC.Business.Tests.Properties.Settings.Oracle2" connectionString="Data Source=10.0.0.36/orawmsdev;User ID=DEV_MP_WT;Password=12;METADATA POOLING=False;POOL REGULATOR=86400;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Oracle\x64;General;Modules;External" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="NotUseActivityStackTrace" value="False" />
    <add key="UseWorkflowPersistAndLog" value="False" />
    <add key="WebclientUrl" value="http://mp-app-t1-nwms:83/wms/" />
  </appSettings>

  <applicationSettings>
    <wmsMLC.Tests.Functional.Properties.Settings>
      <setting name="SessionId" serializeAs="String">
        <value>9090</value>
      </setting>
      <setting name="SDCL_Endpoint" serializeAs="String">
        <value>net.tcp://10.0.0.19:8035/wmsSDCLService</value>
      </setting>
    </wmsMLC.Tests.Functional.Properties.Settings>
    <wmsMLC.EPS.wmsEPS.Properties.Settings>
      <setting name="ReportPath" serializeAs="String">
        <value>EPS\Reports</value>
        <!--<value>E:\temp\DEV\Share\Reports</value>-->
      </setting>
      <setting name="ArchivePath" serializeAs="String">
        <value>EPSArchive</value>
        <!--<value>E:\temp\DEV\Share\Reports\EPSArchive</value>-->
      </setting>
      <setting name="ConnectionStringOdbc" serializeAs="String">
        <value>Dsn=WMSMLC;uid=dev_mp_wt;pwd=ltdvgdnjhfntcn552;</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value>MLC2.my.local</value>
      </setting>
      <setting name="MailHostPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailAccount" serializeAs="String">
        <value>wms_server@my.ru</value>
      </setting>
      <setting name="MailLogin" serializeAs="String">
        <value>my\wms_server</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="MailSubject" serializeAs="String">
        <value>${RESULTREPORTFILE} - ${USERNAME}</value>
      </setting>
      <setting name="MailHeader" serializeAs="String">
        <value>Данное письмо автоматически сформировано модулем EPS. Не отвечайте на это письмо.</value>
      </setting>
      <setting name="MailSignature" serializeAs="String">
        <value>
          Список макросов: ${LISTALLMACROSES}
          Всегда рядом, ваш КЭП
        </value>
      </setting>
      <setting name="MailBodyFormat" serializeAs="String">
        <value>text/html</value>
      </setting>
      <setting name="CompressionLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UseLocalReport" serializeAs="String">
        <value>True</value>
      </setting>
    </wmsMLC.EPS.wmsEPS.Properties.Settings>
  </applicationSettings>

  <oracle.dataaccess.client>
    <settings>
      <add name="DbNotificationPort" value="-1" />
      <add name="DynamicEnlistment" value="0" />
      <add name="FetchSize" value="8388608" />
      <add name="UdtCacheSize" value="4194303" />
      <add name="PerformanceCounters" value="4095" />
      <add name="PromotableTransaction" value="promotable" />
      <add name="StatementCacheSize" value="100" />
      <add name="TraceFileName" value=".\odpnet1.log" />
      <add name="TraceLevel" value="0" />
      <add name="TraceOption" value="0" />
      <add name="TLISTXML" value="udtMapping factoryName='wmsMLC.General.DAL.Oracle.TLISTXMLFactory, wmsMLC.General.DAL.Oracle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='TLISTXML' schemaName='DEV_MP_WT'" />
    </settings>
  </oracle.dataaccess.client>
</configuration>
