<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="wmsMLC.APS.wmsRest.RestServiceImpl" behaviorConfiguration="RestBehaivour">
        <endpoint address="" binding="webHttpBinding" contract="wmsMLC.APS.wmsRest.IRestServiceImpl" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="RestBehaivour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
        </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
   <directoryBrowse enabled="true"/>
 </system.webServer>

</configuration>
